<div class="profile-badge">
  <img src="{{ '/assets/img/Lab_logo.jpg' | relative_url }}" alt="Lab logo" style="width:100%; max-width:200px; display:block; margin:0 auto 78px auto; border-radius:0;">
  <img src="{{ '/assets/img/Kaly.jpg' | relative_url }}" alt="Profile picture" class="profile-badge-img">
  <div class="profile-badge-name">Yanlei Zhang</div>
  <div class="profile-badge-info">
    <br>
    <strong>Assistant Professor</strong><br>
    Queen's University<br>
    School of Computing<br>
  </div>
</div>